.latest {
    padding-top: 80px;
    padding-bottom: 100px;
    text-align: center;
    &-title {
        text-align: center;
        margin-bottom: 80px;
    }
    &-recent {
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 170px;
        margin: 0 auto;
        background-color: #3e3f41;
        margin-bottom: 80px;

        &-block {
            border: 1px solid $colorGold;
            width: 100%;
            height: 100%;

            &-text {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 100%;
                color: #fff;
                text-align: center;
                p {
                    color: $colorGold;
                    font-family: $fontPoppins;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 24px;
                    span {
                        display: block;
                    }
                }
                a {
                    display: block;
                    color: #fff;
                    text-transform: uppercase;
                    font-family: $fontPoppins;
                }
            }
        }
    }
    h5 {
        margin-top: 80px;
        color: #282828;
        font-family: $fontPoppins;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
    }
    span {
        color: #9b9b9b;
        font-family: $fontDroid;
        font-size: 14px;
        font-style: italic;
        line-height: 24px;
        i {
            color: $colorGold;
        }
    }
}


.line {
    margin-top: 80px;
    margin: 80px auto 0;
    height: 1px;
    background-color: #000000;
}