.products {
    padding-top: 50px;
    padding-bottom: 50px;
    &-title {
        margin-bottom: 30px;
        text-align: center;
        &-list {
            display: flex;
            justify-content: center;
            margin-top: 30px;
            li {
                margin-left: 20px;
                margin-right: 20px;
                list-style: disc;
            }
        }
    }
    &-col {
        margin-bottom: 30px;
        font-family: $fontPoppins;
    }
    &-img {
        margin-bottom: 20px;
        position: relative;
        background-color: #606060;
        height: 300px;
        img {
            height: 100%;
            width: 100%;
        }
    }
    &-texts {
        text-align: center;
    }
    &-stars {
        margin-bottom: 10px;
        .far:hover {
            color: orange;
        }
        .fas {
            color: orange;
        }
    }
    &-text {
        margin-bottom: 10px;
    }
}

h3 {
    color: $colorBg;
    margin-bottom: 10px;
    font-family: $fontPoppins;
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    &::before, &::after {
        content: '';
        display: inline-block;
        margin-left: 50px;
        margin-right: 50px;
        width: 130px;
        height: 1px;
        background-color: $colorGrey;
        vertical-align: middle;
    }
}

@media (max-width: 768px) {
    h3 {
        &::before, &::after {
            content: none;
            display: none;
        }
    }
}

.span {
    color: #606060;
    font-family: $fontDroid;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    letter-spacing: 1px;
}


@media (max-width: 576px) {
    .products-img {
        height: 200px;
    }
}

.products-img1 {
    background: url(../img/products/products1.jpg) center no-repeat;
    background-size: cover;
    transition: all .2s;
    &:hover {
        background: url(../img/products/products11.jpg) center no-repeat;
        background-size: cover;
    }
}
.products-img2 {
    background: url(../img/products/products2.jpg) center no-repeat;
    background-size: cover;
    transition: all .2s;
    &:hover {
        background: url(../img/products/products22.jpg) center no-repeat;
        background-size: cover;
    }
}
.products-img3 {
    background: url(../img/products/products3.jpg) center no-repeat;
    background-size: cover;
    transition: all .2s;
    &:hover {
        background: url(../img/products/products33.jpg) center no-repeat;
        background-size: cover;
    }
}
.products-img4 {
    background: url(../img/products/products4.jpg) center no-repeat;
    background-size: cover;
    transition: all .2s;
    &:hover {
        background: url(../img/products/products44.jpg) center no-repeat;
        background-size: cover;
    }
}
.products-img5 {
    background: url(../img/products/products5.jpg) center no-repeat;
    background-size: cover;
    transition: all .2s;
    &:hover {
        background: url(../img/products/products55.jpg) center no-repeat;
        background-size: cover;
    }
}
.products-img6 {
    background: url(../img/products/products6.jpg) center no-repeat;
    background-size: cover;
    transition: all .2s;
    &:hover {
        background: url(../img/products/products66.jpg) center no-repeat;
        background-size: cover;
    }
}
.products-img7 {
    background: url(../img/products/products7.jpg) center no-repeat;
    background-size: cover;
    transition: all .2s;
    &:hover {
        background: url(../img/products/products77.jpg) center no-repeat;
        background-size: cover;
    }
}
.products-img8 {
    background: url(../img/products/products8.jpg) center no-repeat;
    background-size: cover;
    transition: all .2s;
    &:hover {
        background: url(../img/products/products88.jpg) center no-repeat;
        background-size: cover;
    }
}












