.footer {
    padding-top: 80px;
    padding-bottom: 20px;
    background-color: $colorBg;

    &-follow {
        display: flex;
        justify-content: space-around;
        margin-bottom: 80px;
        text-align: center;
        a {
            display: inline-block;
            width: 100%;
            color: #9d9d9d;
            font-family: $fontPoppins;
            font-size: 12px;
            font-weight: 400;
            line-height: 48px;
            text-transform: uppercase;
            letter-spacing: 2.4px;
            border: 1px solid #464646;
            transition: all .3s;
        }
    }
    .blue:hover {
        background-color: blue;
        color: #ffffff;
    }
    .aeroBlue:hover {
        background-color: rgb(25, 152, 255);
        color: #ffffff;
    }
    .red:hover {
        background-color: red;
        color: #ffffff;
    }
    .air:hover {
        background-color: rgb(112, 112, 221);
        color: #ffffff;
    }
    .fiolet:hover {
        background-color: rgb(145, 31, 145);
        color: #ffffff;
    }
    .aero:hover {
        background-color: rgb(87, 202, 255);
        color: #ffffff;
    }

    &-cols {
        a {
            img {
                margin-bottom: 30px;
            }
        }
        span {
            img {
                margin-right: 10px;
            }
        }
        &-title {
            color: #ffffff;
            text-transform: uppercase;
            font-family: $fontPoppins;
            font-size: 14px;
            font-weight: 900;
            line-height: 18px;
            text-transform: uppercase;
            margin-top: 40px;
            margin-bottom: 70px;
        }
        p {
            color: #919191;
            font-family: $fontDroid;
            font-size: 13px;
            font-style: italic;
            line-height: 24px;
            margin-bottom: 15px;
        }
        span {
            color: #ffffff;
            font-family: $fontDroid;
            font-size: 13px;
            font-style: italic;
            line-height: 24.1px;
        }
        &-news {
            display: flex;
            margin-bottom: 20px;
        }
        &-img {
            margin-right: 10px;
        }
        &-text {
            p {
                margin-bottom: 0;
            }
        }
        input {
            display: block;
            width: 100%;
            background-color: transparent;
            border: 1px solid #464646;
            outline: none;
            margin-bottom: 20px;
            height: 44px;
            color: #fff;
            font-size: 20px;
        }
        button {
            width: 100%;
            outline: none;
            border: none;
            background-color: $colorGold;
            color: #ffffff;
            font-family: $fontPoppins;
            font-size: 12px;
            font-weight: 400;
            line-height: 24px;
            text-transform: uppercase;
            height: 44px;
            cursor: pointer;
            transition: background-color .3s;
            &:hover {
                background-color: darken($colorGold, 10%);
            }
        }
    }



    .text-gold {
        color: $colorGold;
        display: inline-block;
    }

    .line {
        width: 100%;
        height: 1px;
        background-color: #fff;
    }

    &-copy {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        p {
            color: #555454;
            font-family: $fontPoppins;
            font-size: 11px;
            font-weight: 500;
            line-height: 22px;
            text-transform: uppercase;
            letter-spacing: 2.2px;
            span {
                color: #fff;
            }
        }
        &-cards {
            img {
                margin-left: 10px;
            }
        }
    }
}

@media (max-width: 768px) {
    .footer {
        &-follow {
            flex-wrap: wrap;
            a {
                width: 50%;
            }
        }
    }
}