.header {
    position: fixed;
    width: 100%;
    z-index: 77777;
    .nav {
        display: flex;
        justify-content: space-around;
        vertical-align: middle;
        height: 70px;
        transition: .5s;
        opacity: .9;
        &-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-basis: 30%;
            &-list {
                position: relative;
                
                &:hover {
                    .nav-menu-drop {
                        opacity: 1;
                        top: 20px;
                        left: -10px;
                    }
                }
            }
            &-drop {
                position: absolute;
                padding-left: 20px;
                width: 200px;
                top: -9999px;
                opacity: 0;
                transition: .4s opacity;
                background-color: #7e7e7e;
                li {
                    padding-top: 20px;
                    a {
                        display: inline-block;
                        margin-bottom: 10px;
                        border-bottom: 1px solid #ffffff;
                        width: 80%;
                    }
                }
            }
            li {
                a {
                    color: $colorWhite;
                    font-family: $fontPoppins;
                    font-size: 12px;
                    font-weight: 400;
                    text-transform: uppercase;
                    transition: .4s ease;
                    &:hover {
                        color: $colorGold;
                    }
                    i {
                        margin-left: 5px;
                    }
                }
            }
        }
        &-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-basis: 30%;
            img {
                width: 70px;
            }
        }
        &-icons {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-basis: 30%;
            i {
                margin-right: 35px;
                color: $colorWhite;
                cursor: pointer;
            }
        }
    }
}

.nav-menu-list-right {
    position: relative;
    width: 100%;
    &:hover {
        .nav-menu-drop-right {
            opacity: 1;
            top: 20px;
            left: 100%;
        }
    }
}
.nav-menu-drop-right {
    position: absolute;
    padding-left: 20px;
    width: 200px;
    top: -9999px;
    opacity: 0;
    transition: .4s opacity;
    background-color: #7e7e7e;
    li {
        padding-top: 20px;
        &:last-child {
            border-bottom: none;
        }
        a {
            display: inline-block;
            margin-bottom: 10px;
        }
    }
}

.nav-search {
    position: absolute;
    width: 52%;
    z-index: 5;
    height: inherit;
    background-color: #fff;
    display: none;
    input {
        position: relative;
        width: 100%;
        border: 1px solid #eeeeee;
        padding: 5px;
        outline: none;
        .active {
            width: 350px;
            right: 100px;
        }
    }
}
.nav-search.open {
    display: block;
    position: relative;
    right: 30px;
    width: 100%;
}

.black {
    background-color: $colorBg;
    box-shadow: 0px 2px 6px rgba(0,0,0, 0.1);
}

.menu-link {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 11111;
    span, span::before, span::after {
        display: block;
        height: 2px;
        width: 18px;
        background-color: #ffffff;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -9px;
        margin-top: -1px;
    }
    span::before {
        content: '';
        margin-top: -6px;
        transition: all .2s;
    }
    span::after {
        content: '';
        margin-top: 4px;
        transition: all .2s;
    }
}

@media (max-width: 1200px) {
    .menu {
        background-color: $colorGrey;
        position: fixed;
        height: 100vh;
        width: 100%;
        z-index: 1;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        right: -100%;
        transition: all .5s;
    }
    .nav-menu-drop {
        display: none;
    }
    .header .nav {
        justify-content: space-between;
        &-icons {
            justify-content: center;
        }
        .d-none {
            display: none;
        }
        li {
            display: block;
            width: 100%;
            height: 100%;
            line-height: 100px;
            a {
                display: block;
            }
            &:hover {
                background-color: #fff;
            }
        }
    }
    
    .menu_active {
        right: 0;
    }
    .menu-link-active span {
        background-color: transparent;
    }
    .menu-link-active span::before {
        transform: rotate(135deg);
        margin-top: 0;
    }
    .menu-link-active span::after {
        transform: rotate(-135deg);
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .nav {
        &-logo {
            width: 100%;
            a {
                img {
                    width: 50%;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .nav-icons {
        justify-content: center;
        i {
            margin-right: 5px;
        }
    }
    .header {
        .nav {
            justify-content: space-around;
        }
    }
}

.d-none {
    display: none;
}

.topBtn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 22px;
    width: 50px;
    height: 50px;
    background-color: $colorGold;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    outline: none;
    opacity: .9;
    transition: background-color .3s;
    &:hover {
        background-color: darken($colorGold, 10%);
    }
}

