// Fonts
$fontPoppins: 'Poppins', sans-serif;
$fontAdvent: 'Advent Pro', sans-serif;
$fontDroid: 'Dancing Script', cursive;

// Colors
$colorWhite: #fff;
$colorBlack: #000;
$colorGold: #8a8f6a;
$colorGrey: #919191;
$colorBg: #282828;



